<?xml version="1.0"?>
<launch>
  <arg name="gripper_aperture" default="90" />     <!--  Gripper aperture angle in degrees -->
  <arg name="gripper_closure" default="0" />       <!--  Gripper closure angle in degrees -->
  <arg name="gripper_speed" default="0.5" />       <!--  Gripper opening/closure speed from 0.1 to 1 -->


  <param name="gripper_aperture" type="int" value="$(arg gripper_aperture)" /> 
  <param name="gripper_closure" type="int" value="$(arg gripper_closure)" />
  <param name="gripper_speed" type="double" value="$(arg gripper_speed)" /> 
  <!-- Start a joint trajectory action server to control real robot's joints in position -->
  <node pkg="poppy_controllers" name="joint_trajectory_action_server" type="joint_trajectory_action_server.py" respawn="true" output="screen"/>
</launch>